@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900&display=swap");
body {
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: 1;
}

body {
  background-color: #fff;
  color: #373d44;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
}

body {
  height: 100%;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

#container {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  position: relative;
  height: 100%;
  margin-right: 0;
}

.preRendered {
  width: 450px;
  margin: 100px auto;
}

img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

img {
  margin: 0;
  max-width: 100%;
}

iframe {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

canvas {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

.css-10r4tzu ~ * {
  color: rgb(1, 3, 4);
}

.css-1a6q0oa {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 16px 0px;
  margin: 0px 40px;
}

.css-224opq {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.css-dd86jp {
  display: flex;
  flex-direction: column;
  z-index: 10001;
  position: fixed;
  bottom: 16px;
  left: 16px;
}

p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

p {
  margin-top: 12px;
  color: #373d44;
  font-size: 13px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 10px;
}

.css-cp4eka {
  width: 40px;
  height: 40px;
  padding: 8px;
}

.css-xhgaf9 {
  flex: 1 1 0%;
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  width: 635px;
  max-width: 100%;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

a {
  transition: color 0.1s linear;
  color: #1190a3;
  text-decoration: none;
}

a:hover {
  color: #12616d;
}

textarea {
  background-color: #fff;
  color: #373d44;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
}

button {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.css-k2k4ev {
  margin: 32px auto auto;
  width: 66%;
}

footer {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

footer {
  display: block;
}

.css-1hdjn2f {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 48px;
  width: 100%;
}

span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

.css-2sm8t6 {
  display: flex;
  flex-direction: column;
}

.css-147gpdq {
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

h2 {
  font-size: 34px;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 200;
}

h2 {
  color: #373d44;
}

.css-1viyfwc {
  font-style: inherit;
  text-decoration: inherit;
  text-align: inherit;
  letter-spacing: 0px;
  margin: 0px 0px 12px;
  color: rgb(1, 3, 4);
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
}

.css-mvcfn {
  font-weight: 400;
  font-style: inherit;
  text-decoration: inherit;
  text-align: inherit;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  margin: 8px 0px 24px;
  color: rgb(1, 3, 4);
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

form {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

form {
  margin-bottom: 24px;
}

.css-j351gw {
  margin-bottom: 0px;
}

ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

ul {
  list-style: none;
}

.css-j351gw > * + * {
  margin-top: 24px;
}

.css-znn18m {
  display: flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  padding: 0px 32px;
  outline: none;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  height: 56px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-decoration-thickness: 2px;
  background: rgb(1, 3, 4);
  color: rgb(255, 255, 255);
}

.css-znn18m:hover {
  color: rgb(255, 255, 255);
  background: rgb(26, 28, 29);
}

.css-1kzhm3j {
  font-weight: 400;
  font-style: inherit;
  text-decoration: inherit;
  text-align: inherit;
  font-size: 13px;
  line-height: 2;
  letter-spacing: 0px;
  margin: 24px 0px 0px;
  color: rgb(1, 3, 4);
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

.css-3sdhmv ul > li {
  font-size: 9px;
  color: rgb(103, 104, 104);
}

label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

label {
  display: block;
  line-height: 16px;
  font-size: 11px;
}

.css-1on0en7 {
  color: rgb(1, 3, 4);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
}

.css-scorh2 {
  display: flex;
}

.css-1mwh927 {
  font-weight: 400;
  font-style: inherit;
  text-align: inherit;
  letter-spacing: 0px;
  margin: 0px;
  color: rgb(1, 3, 4);
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-decoration: underline;
  text-underline-position: under;
}

.css-1mwh927:hover {
  opacity: 0.54;
  cursor: pointer;
  color: inherit;
}

.css-oboovq {
  font-weight: 400;
  font-style: inherit;
  text-align: inherit;
  letter-spacing: 0px;
  margin: 0px;
  color: rgb(1, 3, 4);
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-decoration: underline;
  text-underline-position: under;
}

.css-oboovq:hover {
  opacity: 0.54;
  cursor: pointer;
  color: inherit;
}

.css-hgsjtf {
  -webkit-box-align: center;
  align-items: center;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  box-shadow: none;
  display: grid;
  flex: 1 1 0%;
  font-size: 16px;
  grid-template-areas: "left-content input right-content";
  grid-template-columns: min-content 1fr min-content;
  height: 56px;
  outline: none;
  padding: 0px 16px;
  transition: background 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  background-color: rgb(255, 255, 255);
  border-color: rgb(204, 205, 205);
  color: rgb(1, 3, 4);
}

.css-hgsjtf:hover {
  border-color: rgb(179, 179, 180);
}

input {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.css-9sackk {
  appearance: none;
  background-color: transparent;
  border: 0px;
  color: inherit;
  font-size: 16px;
  grid-area: input;
  height: 100%;
  padding: 0px;
  width: 100%;
  outline: none;
}

/* These were inline style tags. Uses id+class to override almost everything */
#renderError.style-e1xRn {
  display: none;
}
#activityTimeoutContainer.style-r7DZc {
  display: none;
}
#style-ZBVrn.style-ZBVrn {
  width: 256px;
  height: 60px;
  display: block;
  transition: right 0.3s ease 0s;
  position: fixed;
  bottom: 14px;
  right: -186px;
  box-shadow: gray 0px 0px 5px;
  border-radius: 2px;
  overflow: hidden;
}
#g-recaptcha-response-100000.style-2IQOU {
  width: 250px;
  height: 40px;
  border: 1px solid rgb(193, 193, 193);
  margin: 10px 25px;
  padding: 0px;
  resize: none;
  display: none;
}
#style-b9UUQ.style-b9UUQ {
  display: none;
}
#universal_pixel_0p4vrcn.style-F7aap {
  display: none;
}
#universal_pixel_0p4vrcn.style-wFk1w {
  display: none;
}
#style-J8Tj8.style-J8Tj8 {
  top: -2px;
  left: 40px;
  height: 0px;
  width: 0px;
}
#style-xqq32.style-xqq32 {
  top: -2px;
  left: 1863px;
  height: 0px;
  width: 0px;
}
#style-DAry2.style-DAry2 {
  top: 72px;
  left: 40px;
  height: 0px;
  width: 0px;
}
#style-gAN56.style-gAN56 {
  top: -2px;
  left: 38px;
  height: 0px;
  width: 0px;
}
#snipcss-panel-container.style-sIc3L {
  right: 283px;
  top: 171px;
}
#style-SA3yk.style-SA3yk {
  touch-action: none;
}
#style-gjG7I.style-gjG7I {
  touch-action: none;
}
#style-to7Vz.style-to7Vz {
  top: -2px;
  left: 0px;
  height: 0px;
  width: 0px;
}
#style-4kepD.style-4kepD {
  top: -4px;
  left: -4px;
  height: 0px;
  width: 0px;
}
#style-oQ75s.style-oQ75s {
  top: -4px;
  left: -4px;
  height: 0px;
  width: 0px;
}
#style-4nc9t.style-4nc9t {
  top: -2px;
  left: -2px;
  height: 0px;
  width: 0px;
}
#style-wM5jH.style-wM5jH {
  top: 0px;
  left: 0px;
  position: absolute;
}
#snipcss-kiwi.style-4DJiY {
  left: 1810px;
  top: 0px;
}
/* These were inline style tags. Uses id+class to override almost everything */
#renderError.style-Ry9kH {
  display: none;
}
#activityTimeoutContainer.style-9NLgO {
  display: none;
}
#style-WoidO.style-WoidO {
  width: 256px;
  height: 60px;
  display: block;
  transition: right 0.3s ease 0s;
  position: fixed;
  bottom: 14px;
  right: -186px;
  box-shadow: gray 0px 0px 5px;
  border-radius: 2px;
  overflow: hidden;
}
#g-recaptcha-response-100000.style-fzcGA {
  width: 250px;
  height: 40px;
  border: 1px solid rgb(193, 193, 193);
  margin: 10px 25px;
  padding: 0px;
  resize: none;
  display: none;
}
#style-9OpMG.style-9OpMG {
  display: none;
}
#universal_pixel_0p4vrcn.style-fWXs6 {
  display: none;
}
#universal_pixel_0p4vrcn.style-tstRQ {
  display: none;
}
#style-pmAUI.style-pmAUI {
  top: -2px;
  left: 40px;
  height: 0px;
  width: 0px;
}
#style-c3TWk.style-c3TWk {
  top: -2px;
  left: 1863px;
  height: 0px;
  width: 0px;
}
#style-PXjpG.style-PXjpG {
  top: 72px;
  left: 40px;
  height: 0px;
  width: 0px;
}
#style-yqLeY.style-yqLeY {
  top: -2px;
  left: 38px;
  height: 0px;
  width: 0px;
}
#snipcss-panel-container.style-boRmp {
  right: 283px;
  top: 171px;
}
#style-wVGSP.style-wVGSP {
  touch-action: none;
}
#style-bfNFy.style-bfNFy {
  touch-action: none;
}
#style-dfMjg.style-dfMjg {
  top: -2px;
  left: 0px;
  height: 0px;
  width: 0px;
}
#style-W3Uc2.style-W3Uc2 {
  top: -4px;
  left: -4px;
  height: 0px;
  width: 0px;
}
#style-LoxzM.style-LoxzM {
  top: -4px;
  left: -4px;
  height: 0px;
  width: 0px;
}
#style-Eoz8T.style-Eoz8T {
  top: -2px;
  left: -2px;
  height: 0px;
  width: 0px;
}
#style-67Hxj.style-67Hxj {
  top: 0px;
  left: 0px;
  position: absolute;
}
#snipcss-kiwi.style-AUKg3 {
  left: 1810px;
  top: 0px;
}
