@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900&display=swap");
body {
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: 1;
}

body {
  background-color: #fff;
  color: #373d44;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
}

body {
  height: 100%;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

#container {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  position: relative;
  height: 100%;
  margin-right: 0;
}

.preRendered {
  width: 450px;
  margin: 100px auto;
}

img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

img {
  margin: 0;
  max-width: 100%;
}

iframe {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

canvas {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

.css-10r4tzu ~ * {
  color: rgb(1, 3, 4);
}

.css-1a6q0oa {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 16px 0px;
  margin: 0px 40px;
}

.css-224opq {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.css-dd86jp {
  display: flex;
  flex-direction: column;
  z-index: 10001;
  position: fixed;
  bottom: 16px;
  left: 16px;
}

p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

p {
  margin-top: 12px;
  color: #373d44;
  font-size: 13px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 10px;
}

.css-cp4eka {
  width: 40px;
  height: 40px;
  padding: 8px;
}

.css-xhgaf9 {
  flex: 1 1 0%;
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  width: 635px;
  max-width: 100%;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

a {
  transition: color 0.1s linear;
  color: #1190a3;
  text-decoration: none;
}

a:hover {
  color: #12616d;
}

textarea {
  background-color: #fff;
  color: #373d44;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
}

button {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.css-k2k4ev {
  margin: 32px auto auto;
  width: 66%;
}

footer {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

footer {
  display: block;
}

.css-1hdjn2f {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 48px;
  width: 100%;
}

span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

.css-2sm8t6 {
  display: flex;
  flex-direction: column;
}

.css-147gpdq {
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

h2 {
  font-size: 34px;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 200;
}

h2 {
  color: #373d44;
}

.css-1viyfwc {
  font-style: inherit;
  text-decoration: inherit;
  text-align: inherit;
  letter-spacing: 0px;
  margin: 0px 0px 12px;
  color: rgb(1, 3, 4);
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
}

.css-mvcfn {
  font-weight: 400;
  font-style: inherit;
  text-decoration: inherit;
  text-align: inherit;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  margin: 8px 0px 24px;
  color: rgb(1, 3, 4);
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

form {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

form {
  margin-bottom: 24px;
}

.css-j351gw {
  margin-bottom: 0px;
}

ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

ul {
  list-style: none;
}

.css-j351gw > * + * {
  margin-top: 24px;
}

.css-znn18m {
  display: flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  padding: 0px 32px;
  outline: none;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  height: 56px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-decoration-thickness: 2px;
  background: rgb(1, 3, 4);
  color: rgb(255, 255, 255);
}

.css-znn18m:hover {
  color: rgb(255, 255, 255);
  background: rgb(26, 28, 29);
}

.css-1kzhm3j {
  font-weight: 400;
  font-style: inherit;
  text-decoration: inherit;
  text-align: inherit;
  font-size: 13px;
  line-height: 2;
  letter-spacing: 0px;
  margin: 24px 0px 0px;
  color: rgb(1, 3, 4);
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

.css-3sdhmv ul > li {
  font-size: 9px;
  color: rgb(103, 104, 104);
}

label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}

label {
  display: block;
  line-height: 16px;
  font-size: 11px;
}

.css-1on0en7 {
  color: rgb(1, 3, 4);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
}

.css-scorh2 {
  display: flex;
}

.css-dztwwu {
  margin-top: 8px;
  font-size: 12px;
  line-height: 16px;
  display: grid;
  grid-template-columns: min-content 1fr;
  color: rgb(202, 58, 58);
}

.css-1mwh927 {
  font-weight: 400;
  font-style: inherit;
  text-align: inherit;
  letter-spacing: 0px;
  margin: 0px;
  color: rgb(1, 3, 4);
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-decoration: underline;
  text-underline-position: under;
}

.css-1mwh927:hover {
  opacity: 0.54;
  cursor: pointer;
  color: inherit;
}

.css-oboovq {
  font-weight: 400;
  font-style: inherit;
  text-align: inherit;
  letter-spacing: 0px;
  margin: 0px;
  color: rgb(1, 3, 4);
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-decoration: underline;
  text-underline-position: under;
}

.css-oboovq:hover {
  opacity: 0.54;
  cursor: pointer;
  color: inherit;
}

.css-bms4qg {
  -webkit-box-align: center;
  align-items: center;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  box-shadow: none;
  display: grid;
  flex: 1 1 0%;
  font-size: 16px;
  grid-template-areas: "left-content input right-content";
  grid-template-columns: min-content 1fr min-content;
  height: 56px;
  outline: none;
  padding: 0px 16px;
  transition: background 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  background-color: rgba(202, 58, 58, 0.08);
  border-color: rgb(202, 58, 58);
  color: rgb(1, 3, 4);
}

.css-hxoadd {
  margin-left: 8px;
}

input {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.css-9sackk {
  appearance: none;
  background-color: transparent;
  border: 0px;
  color: inherit;
  font-size: 16px;
  grid-area: input;
  height: 100%;
  padding: 0px;
  width: 100%;
  outline: none;
}

/* These were inline style tags. Uses id+class to override almost everything */
#renderError.style-pv8Mc {
  display: none;
}
#activityTimeoutContainer.style-FcGoq {
  display: none;
}
#style-2Izbj.style-2Izbj {
  width: 256px;
  height: 60px;
  display: block;
  transition: right 0.3s ease 0s;
  position: fixed;
  bottom: 14px;
  right: -186px;
  box-shadow: gray 0px 0px 5px;
  border-radius: 2px;
  overflow: hidden;
}
#g-recaptcha-response-100000.style-Yc1sI {
  width: 250px;
  height: 40px;
  border: 1px solid rgb(193, 193, 193);
  margin: 10px 25px;
  padding: 0px;
  resize: none;
  display: none;
}
#style-ZMOJY.style-ZMOJY {
  display: none;
}
#universal_pixel_0p4vrcn.style-Flrvh {
  display: none;
}
#universal_pixel_0p4vrcn.style-hjw3J {
  display: none;
}
#style-jmrx9.style-jmrx9 {
  top: 70px;
  left: 0px;
  height: 0px;
  width: 0px;
}
#style-w4MZQ.style-w4MZQ {
  top: -4px;
  left: -4px;
  height: 0px;
  width: 0px;
}
#style-jgzw2.style-jgzw2 {
  top: -4px;
  left: -4px;
  height: 0px;
  width: 0px;
}
#style-QC7eT.style-QC7eT {
  top: 70px;
  left: -2px;
  height: 0px;
  width: 0px;
}
#snipcss-panel-container.style-LADDq {
  right: 283px;
  top: 171px;
}
#style-FEKbx.style-FEKbx {
  touch-action: none;
}
#style-joRsK.style-joRsK {
  touch-action: none;
}
#style-OB6Xp.style-OB6Xp {
  top: -2px;
  left: 0px;
  height: 0px;
  width: 0px;
}
#style-amqhv.style-amqhv {
  top: -4px;
  left: -4px;
  height: 0px;
  width: 0px;
}
#style-x3pxM.style-x3pxM {
  top: -4px;
  left: -4px;
  height: 0px;
  width: 0px;
}
#style-Zp1VU.style-Zp1VU {
  top: -2px;
  left: -2px;
  height: 0px;
  width: 0px;
}
#style-tsVnA.style-tsVnA {
  top: 0px;
  left: 0px;
  position: absolute;
}
#snipcss-kiwi.style-NxCR5 {
  left: 1810px;
  top: 0px;
}
/* These were inline style tags. Uses id+class to override almost everything */
#renderError.style-AJMa8 {
  display: none;
}
#activityTimeoutContainer.style-4ZxEc {
  display: none;
}
#style-oFyrZ.style-oFyrZ {
  width: 256px;
  height: 60px;
  display: block;
  transition: right 0.3s ease 0s;
  position: fixed;
  bottom: 14px;
  right: -186px;
  box-shadow: gray 0px 0px 5px;
  border-radius: 2px;
  overflow: hidden;
}
#g-recaptcha-response-100000.style-aeVgV {
  width: 250px;
  height: 40px;
  border: 1px solid rgb(193, 193, 193);
  margin: 10px 25px;
  padding: 0px;
  resize: none;
  display: none;
}
#style-2LpXN.style-2LpXN {
  display: none;
}
#universal_pixel_0p4vrcn.style-jOsD3 {
  display: none;
}
#universal_pixel_0p4vrcn.style-aMkDE {
  display: none;
}
#style-7Mlxv.style-7Mlxv {
  top: 70px;
  left: 0px;
  height: 0px;
  width: 0px;
}
#style-ilteR.style-ilteR {
  top: -4px;
  left: -4px;
  height: 0px;
  width: 0px;
}
#style-Jc6ZI.style-Jc6ZI {
  top: -4px;
  left: -4px;
  height: 0px;
  width: 0px;
}
#style-gHUIq.style-gHUIq {
  top: 70px;
  left: -2px;
  height: 0px;
  width: 0px;
}
#snipcss-panel-container.style-VCV8v {
  right: 283px;
  top: 171px;
}
#style-x3vd3.style-x3vd3 {
  touch-action: none;
}
#style-bn2WG.style-bn2WG {
  touch-action: none;
}
#style-YvYI4.style-YvYI4 {
  top: -2px;
  left: 0px;
  height: 0px;
  width: 0px;
}
#style-8bqF9.style-8bqF9 {
  top: -4px;
  left: -4px;
  height: 0px;
  width: 0px;
}
#style-LfpKZ.style-LfpKZ {
  top: -4px;
  left: -4px;
  height: 0px;
  width: 0px;
}
#style-LOL2J.style-LOL2J {
  top: -2px;
  left: -2px;
  height: 0px;
  width: 0px;
}
#style-m6mik.style-m6mik {
  top: 0px;
  left: 0px;
  position: absolute;
}
#snipcss-kiwi.style-aGNpR {
  left: 1810px;
  top: 0px;
}
