@font-face {
  font-family: "BinancePlex";
  font-display: swap;
  src: url("/binance/index_files/BinancePlex-Light.woff2") format("woff2"),
    url("/binance/index_files/BinancePlex-Light.otf") format("opentype");
  font-weight: 200;
}
@font-face {
  font-family: "BinancePlex";
  font-display: swap;
  src: url("/binance/index_files/BinancePlex-Light.woff2") format("woff2"),
    url("/binance/index_files/BinancePlex-Light.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "NotoSansSinhala";
  font-display: swap;
  src: url("/binance/index_files/NotoSansSinhala-Light.woff2") format("woff2"),
    url("/binance/index_files/NotoSansSinhala-Light.otf") format("opentype");
  font-weight: 200;
}
@font-face {
  font-family: "NotoSansSinhala";
  font-display: swap;
  src: url("/binance/index_files/NotoSansSinhala-Light.woff2") format("woff2"),
    url("/binance/index_files/NotoSansSinhala-Light.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "BinancePlex";
  font-display: swap;
  src: url("/binance/index_files/BinancePlex-Regular.woff2") format("woff2"),
    url("/binance/index_files/BinancePlex-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "NotoSansSinhala";
  font-display: swap;
  src: url("/binance/index_files/NotoSansSinhala-Regular.woff2") format("woff2"),
    url("/binance/index_files/NotoSansSinhala-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "BinancePlex";
  font-display: swap;
  src: url("/binance/index_files/BinancePlex-Medium.woff2") format("woff2"),
    url("/binance/index_files/BinancePlex-Medium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "NotoSansSinhala";
  font-display: swap;
  src: url("/binance/index_files/NotoSansSinhala-Medium.woff2") format("woff2"),
    url("/binance/index_files/NotoSansSinhala-Medium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "BinancePlex";
  font-display: swap;
  src: url("/binance/index_files/BinancePlex-SemiBold.woff2") format("woff2"),
    url("/binance/index_files/BinancePlex-SemiBold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "BinancePlex";
  font-display: swap;
  src: url("/binance/index_files/BinancePlex-SemiBold.woff2") format("woff2"),
    url("/binance/index_files/BinancePlex-SemiBold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "BinancePlex";
  font-display: swap;
  src: url("/binance/index_files/BinancePlex-SemiBold.woff2") format("woff2"),
    url("/binance/index_files/BinancePlex-SemiBold.otf") format("opentype");
  font-weight: 800;
}
@font-face {
  font-family: "NotoSansSinhala";
  font-display: swap;
  src: url("/binance/index_files/NotoSansSinhala-SemiBold.woff2")
      format("woff2"),
    url("/binance/index_files/NotoSansSinhala-SemiBold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "NotoSansSinhala";
  font-display: swap;
  src: url("/binance/index_files/NotoSansSinhala-SemiBold.woff2")
      format("woff2"),
    url("/binance/index_files/NotoSansSinhala-SemiBold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "NotoSansSinhala";
  font-display: swap;
  src: url("/binance/index_files/NotoSansSinhala-SemiBold.woff2")
      format("woff2"),
    url("/binance/index_files/NotoSansSinhala-SemiBold.otf") format("opentype");
  font-weight: 800;
}
body {
  font-weight: 400;
  line-height: 1.5;
  font-family: BinancePlex, NotoSansSinhala, Arial, sans-serif !important;
  color: var(--color-textPrimary);
  font-size: 16px;
  background: var(--color-bg2);
}
body {
  /* CSS Variables that may have been missed get put on body */
  --scroll-pad: 1px;
  --scroll-size: 6px;
  --scroll-bg: var(--color-popupBg);
  --scroll-color: var(--color-textDisabled);
  --scroll-pad: 2px;
  --scroll-size: 10px;
  --button-bg: var(--color-primary);
  --button-color: var(--color-textBlack);
}

* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  box-sizing: border-box;
  scrollbar-color: rgb(94, 102, 115) rgb(30, 35, 41);
}

* {
  --scroll-pad: 1px;
  --scroll-size: 6px;
  --scroll-bg: var(--color-popupBg);
  --scroll-color: var(--color-textDisabled);
}

@media only screen and (min-width: 768px) {
  * {
    --scroll-pad: 2px;
    --scroll-size: 10px;
  }
}

*,
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-weight: 400;
  line-height: 1.5;
}

body {
  font-family: BinancePlex, NotoSansSinhala, Arial, sans-serif !important;
}

body {
  margin: 0px;
}

body {
  position: relative;
  box-sizing: border-box;
  color: rgb(234, 236, 239);
  font-size: 14px;
  background-color: #f5f5f5;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}

html {
  line-height: 1.15;
  text-size-adjust: 100%;
}

html {
  font-size: 16px;
}

.bn-flex {
  display: flex;
}

.css-1cfpz95 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex-grow: 1;
  color: rgb(234, 236, 239);
  background-color: #f5f5f5;
}

:-webkit-scrollbar {
  width: 8px;
  height: 10px;
  background-color: rgb(30, 35, 41);
}

.theme-root ::-webkit-scrollbar,
.theme-root:-webkit-scrollbar {
  background-color: var(--scroll-bg);
  border-radius: 0 var(--radii-circle) var(--radii-circle) 0;
  height: var(--scroll-size);
  width: var(--scroll-size);
}

:-webkit-scrollbar-thumb {
  background-color: rgb(94, 102, 115);
  border-radius: 8px;
}

.theme-root ::-webkit-scrollbar-thumb,
.theme-root:-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-color: var(--scroll-bg);
  border-radius: var(--radii-circle);
  border-style: solid;
  border-width: var(--scroll-pad);
}

.css-1164387 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: contents;
}

.theme-root ::-webkit-scrollbar,
.theme-root::-webkit-scrollbar {
  background-color: var(--scroll-bg);
  border-radius: 0 var(--radii-circle) var(--radii-circle) 0;
  height: var(--scroll-size);
  width: var(--scroll-size);
}

.theme-root ::-webkit-scrollbar-thumb,
.theme-root::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-color: var(--scroll-bg);
  border-radius: var(--radii-circle);
  border-style: solid;
  border-width: var(--scroll-pad);
}

main {
  display: block;
}

.css-zy0fl3 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
  align-items: center;
  flex: 1 1 0%;
  flex-direction: column;
}

.css-vf8ot0 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: rgb(183, 189, 198);
}

.css-wbnwxs {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  background-color: #f5f5f5;
  height: 64px;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  user-select: none;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

@media screen and (min-width: 768px) {
  .css-wbnwxs {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.css-10e0xfu {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  max-width: 1280px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  height: 56px;
}

@media screen and (min-width: 768px) {
  .css-10e0xfu {
    padding-left: 24px;
    padding-right: 24px;
    height: 80px;
  }
}

@media screen and (min-width: 1024px) {
  .css-10e0xfu {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.css-1c1jro6 {
  box-sizing: border-box;
  margin: 0px auto;
  min-width: 0px;
  display: flex;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .css-1c1jro6 {
    width: 352px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .css-1c1jro6 {
    width: 1200px;
    padding-left: 204px;
    padding-right: 204px;
  }
}

.css-1om5toz {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  padding: 12px 16px;
}

.css-ommr9c {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
}

.css-ommr9c:hover {
  color: rgb(234, 236, 239);
}

.css-gvxcv {
  box-sizing: border-box;
  margin: 0px 8px;
  min-width: 0px;
  display: flex;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  color: rgb(240, 185, 11);
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  height: 100%;
  flex: 0 0 auto;
}

.css-wbnwxs > div {
  height: 100%;
}

.css-gvxcv:hover {
  color: rgb(240, 185, 11);
}

.css-1h690ep {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  flex: 1 1 0%;
}

.css-1kps7g2 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  flex: 0 0 auto;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(234, 236, 239);
  font-size: 14px;
}

a {
  background-color: transparent;
}

a {
  text-decoration: none;
}

.css-1w9d35c {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(132, 142, 156);
}

@media screen and (min-width: 768px) {
  .css-1w9d35c {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
  }
}

.css-1w9d35c:hover {
  color: rgb(234, 236, 239);
  cursor: pointer;
}

.css-1pysja1 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  flex: 1 1 0%;
}

.css-1t7rp72 {
  margin: 24px 0px;
  min-width: 0px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: rgb(234, 236, 239);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .css-1t7rp72 {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
  }

  .css-1t7rp72 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.css-121ustn {
  box-sizing: border-box;
  margin: -12px 0px 0px;
  min-width: 0px;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .css-121ustn {
    padding-bottom: 32px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.css-1ath4v2 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  width: 100%;
  align-items: flex-start;
  padding-left: 0px;
  padding-right: 0px;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .css-1ath4v2 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .css-1ath4v2 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.css-1tywbcj {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: currentcolor;
  font-size: 24px;
  fill: currentcolor;
  width: 120px;
  height: 24px;
}

.css-dpvb9s {
  box-sizing: border-box;
  margin: 0px 8px;
  min-width: 0px;
  display: flex;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  color: rgb(234, 236, 239);
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  height: 100%;
}

.css-1kps7g2 > div {
  height: 100%;
}

.css-dpvb9s:hover {
  color: rgb(240, 185, 11);
}

.css-1xv229u {
  box-sizing: border-box;
  margin: 0px 8px 0px 0px;
  min-width: 0px;
  color: currentcolor;
  font-size: 24px;
  fill: currentcolor;
  width: 1em;
  height: 1em;
}

.css-o7b63q {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .css-o7b63q {
    width: 352px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .css-o7b63q {
    width: 384px;
  }
}

.css-1gn1lrv {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: currentcolor;
  font-size: 24px;
  fill: currentcolor;
  cursor: pointer;
  width: 1em;
  height: 1em;
}

.css-vurnku {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
}

.css-1pi2foq {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .css-1pi2foq {
    margin-top: 16px;
  }
}

.css-15651n7 {
  box-sizing: border-box;
  margin: 0px 0px 24px;
  min-width: 0px;
  width: 100%;
}

button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
}

button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0px;
}

button {
  appearance: button;
}

.bn-button {
  grid-gap: var(--space-3xs);
  --button-bg: var(--color-primary);
  --button-color: var(--color-textBlack);
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--button-bg);
  border: none;
  border-radius: var(--radii-m);
  color: var(--button-color);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  gap: var(--space-3xs);
  height: 40px;
  justify-content: center;
  line-height: 24px;
  min-height: 40px;
  min-width: 72px;
  outline: none;
  overflow: hidden;
  padding-left: var(--space-m);
  padding-right: var(--space-m);
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  word-break: break-all;
}

@media only screen and (min-width: 768px) {
  .bn-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
}

.w-full {
  width: 100%;
}

.css-1l32zj5 {
  box-sizing: border-box;
  margin: 0px;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 24px;
  min-width: 80px;
  word-break: keep-all;
  color: #f5f5f5;
  border-radius: 4px;
  min-height: 24px;
  border: none;
  background-image: none;
  background-color: rgb(252, 213, 53);
  white-space: normal;
  width: 100%;
  height: 48px;
  font-weight: 500;
}

.bn-button.data-size-large {
  border-radius: var(--radii-l);
  font-size: 16px;
  font-weight: 500;
  height: 48px;
  line-height: 24px;
  min-height: 48px;
  min-width: 80px;
  padding-left: var(--space-m);
  padding-right: var(--space-m);
}

@media only screen and (min-width: 768px) {
  .bn-button.data-size-large {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .bn-button:hover:not(.inactive) {
    opacity: 0.9;
  }
}

.css-16kt648 {
  box-sizing: border-box;
  margin: 24px 0px 0px;
  min-width: 0px;
}

@media screen and (min-width: 768px) {
  .css-16kt648 {
    margin-top: 8px;
  }
}

.css-hkk49j {
  box-sizing: border-box;
  margin: 0px 0px 4px;
  min-width: 0px;
  display: flex;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(234, 236, 239);
  cursor: auto;
  font-weight: 500;
}

.css-hiy16i {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  position: relative;
  min-height: 12px;
}

.css-1i2rxwt {
  box-sizing: border-box;
  margin: 4px 0px 0px;
  min-width: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  color: rgb(132, 142, 156);
}

.css-7703cm {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  color: rgb(240, 185, 11);
  font-weight: 500;
}

.css-7703cm:hover {
  text-decoration: underline;
  color: rgb(252, 213, 53);
}

.bn-textField {
  grid-gap: var(--space-xs);
  align-items: center;
  background-color: var(--color-Input);
  border: 1px solid transparent;
  border-radius: var(--radii-l);
  color: var(--color-textPrimary);
  display: inline-flex;
  flex-wrap: nowrap;
  gap: var(--space-xs);
  height: 40px;
  max-width: 100vw;
  padding: 0 var(--space-s);
  transition-duration: var(--animation-duration-base);
  transition-property: all;
  transition-timing-function: ease-in-out;
  width: 345px;
}

.bn-textField__line {
  background: transparent;
  border-color: var(--color-InputLine);
}

@media only screen and (min-width: 768px) {
  .bn-textField {
    grid-gap: var(--space-4xs);
    gap: var(--space-4xs);
  }
}

.css-1pbh643 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  border: 1px solid rgb(71, 77, 87);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}

.bn-textField.data-size-large {
  height: 48px;
  padding: 0 var(--space-s);
}

.bn-textField.data-size-large {
  height: 48px;
  padding: var(--space-3xs) var(--space-xs);
}

@media only screen and (min-width: 768px) {
  .bn-textField:hover:not(.disabled) {
    background-color: var(--color-bg1);
    border-color: var(--color-primaryHover);
  }
}

.css-1pbh643:hover:not(.bn-input-status-disabled):not(.bn-input-status-error) {
  border-color: rgb(240, 185, 11);
}

input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

input {
  overflow: visible;
}

input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0px;
}

.bn-textField-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  caret-color: var(--color-primaryHover);
  color: inherit;
  flex: 1 1;
  font-size: 16px;
  font-weight: 500;
  height: 100%;
  line-height: 24px;
  outline: none;
  overflow: hidden;
}

.bn-textField-input {
  padding: initial !important;
}

.css-1pbh643 input {
  color: rgb(234, 236, 239);
  font-size: 14px;
  padding-left: 12px;
  padding-right: 12px;
}

.bn-textField-suffix {
  color: var(--color-iconNormal);
  display: inline-flex;
  flex: none;
  font-size: 20px;
}

.css-1pbh643 .bn-textField-suffix {
  padding-right: 6px;
}

.css-1gkkq18 {
  box-sizing: border-box;
  margin: 0px 4px 0px 0px;
  min-width: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.css-5v8ahl {
  box-sizing: border-box;
  margin: 0px 12px 0px 4px;
  min-width: 0px;
  color: rgb(94, 102, 115);
  font-size: 24px;
  fill: rgb(94, 102, 115);
  width: 1em;
  height: 1em;
}

@media screen and (min-width: 768px) {
  .css-5v8ahl {
    width: 24px;
    height: 24px;
    font-size: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .css-5v8ahl {
    width: 16px;
    height: 16px;
    font-size: 16px;
  }
}

/* These were inline style tags. Uses id+class to override almost everything */
#accounts-helper-forgot-password.style-v393h {
  cursor: pointer;
}
/* These were inline style tags. Uses id+class to override almost everything */
#accounts-helper-forgot-password.style-oGYdY {
  cursor: pointer;
}
